

$border-color-1: #eee;
$border-color-active: rgb(16, 179, 243);

$select-width: 240px;
$select-min-height: 38px;

.select {
  position: relative;
  box-sizing: border-box;
  width: $select-width;
  min-height: $select-min-height;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $border-color-1;
  border-radius: 4px;

  .valueContainer {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 100;
    flex-shrink: 100;
    box-sizing: border-box;
    // 如果容器的高度超过了 最小高度
    // 设置padding-top = 0px;
    // padding-top: (34px - 26px ) / 2;
    width: 100%;
    min-height: $select-min-height;

    .tag{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 0;
      height: 24px;
      line-height: 22px;
      margin: 2px 0px 2px 6px;
      padding: 0px 3px 0px 8px;

      border: 1px solid $border-color-1;
      border-radius: 4px;
      background: #efefef;

      font: {
        size: 12px;
        weight: 400;
      }
      color: #666;

      .iconCancel{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6px;
        width: 10px;
        height: 10px;
        background: #999;
        border-radius: 100%;
      }
    }
  }
 

  .iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 25px;
    min-height: $select-min-height;
    height: 100%;

    .iconArrow{
      width: 0px;
      height: 0px;
      border: 7px solid $border-color-1;
      border-top-width: 0px;
      border-left-color: transparent;
      border-right-color: transparent;
      transition: all 0.25s ease-out;
      cursor: pointer;
    }

    .iconArrowTop{
      // 展开状态下是 180deg
      // 非展开状态下是 0deg
      transform: rotateZ(0deg);
      
    }

    .iconArrowBottom{
      transform: rotateZ(180deg);
      border-bottom-color: $border-color-active;
    }
    
  }

  // 选项内容
  .optionContainer{
    position: absolute;
    left: -1px;
    width: $select-width;
    height: 1px;
    bottom: -14px;

    .arrowTop{
      z-index: 2;
      content: "";
      position: absolute;
      top: -6px;
      left: 20px;
      width: 0px;
      height: 0px;
      border: 7px solid $border-color-active;
      border-top-width: 0px;
      border-left-color: transparent;
      border-right-color: transparent;

      &:after{
        content: "";
        position: absolute;
        top: 1px;
        left: -6px;
        width: 0px;
        height: 0px;
        border: 6px solid #fff;
        border-top-width: 0px;
        border-left-color: transparent;
        border-right-color: transparent;
      }
    }

    .ul{
      position: absolute;
      left: 0px;
      top: 0px;
      box-sizing: content-box;
      margin: 0px;
      padding: 6px 0px;
      width: $select-width;
      height: 0px;
      overflow-y: hidden;
      border: 1px solid $border-color-1;
      border-radius: 4px;
      transition: all 0.25s ease-out;

      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
      &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 5px #9b9ba3;
          background: rgba(152, 155, 163, 0.5);
      }
    }

    .ulActive{
      // 这里设定的是默认的
      // 可能不会被用到
      // 高度会在元素的 style属性中设置
      height: 34px * 3;
      border-color: $border-color-active;
      overflow-y: scroll;
    }
  
    .li{
      list-style-type: none;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 40px;
      width: 100%;
      line-height: 34px;
      font: {
        size: 14px;
        width: 400;
      }
      color: #666;
      cursor: pointer;

      &:hover{
        background: {
          color: #eee;
        }
      }
      
    }

    .liSelected{
      color: $border-color-active;
    }
  }
 
}

.selectFocus{
  border-color: $border-color-active;
}

.unvisible{
  visibility: hidden;
}



// .option{
//   background: none;
//   border: 1px solid red;
//   background: red;
// }

 